<app-header></app-header>
<h3>
    <p class="text-dark">FCM Administration</p>
</h3>
<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="background: cadetblue">
                <a href="/fcm" class="text-dark">FCM</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/fcmDevice" class="text-dark">FCM Devices</a></td>
            <td><a href="/fcm/fcmDevice/add" class="text-dark">Add</a></td>
            <td><a href="/fcmDevice" class="text-dark">Change</a></td>
        </tr>


    </tbody>
</table>