<app-header></app-header>

<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="background: cadetblue"><a href="/admin/users" class="text-dark">Users</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/admin/user/customer" class="text-dark">Customer</a></td>
            <td><a href="/admin/user/customer/add" class="text-dark">Add</a></td>
            <td><a href="/admin/user/customer" class="text-dark">Change</a></td>
        </tr>
        <tr>
            <td><a href="/admin/user/order" class="text-dark">Order</a></td>
            <td><a href="/admin/user/order/add" class="text-dark">Add</a></td>
            <td><a href="/admin/user/order" class="text-dark">Change</a></td>
        </tr>

    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="background: cadetblue">
                <a href="/admin/fcm" class="text-dark">FCM</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/admin/fcm/fcmDevice" class="text-dark">FCM Devices</a></td>
            <td><a href="/admin/fcm/fcmDevice/add" class="text-dark">Add</a></td>
            <td><a href="/admin/fcm/fcmDevice" class="text-dark">Change</a></td>
        </tr>


    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="background: cadetblue">
                <a href="/admin/dashboard" class="text-dark">Dashboard</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/admin/dashboard/bottomBanner" class="text-dark">Bottom Banner</a></td>
            <td><a href="/admin/dashboard/bottomBanner/add" class="text-dark">Add</a></td>
            <td><a href="/admin/dashboard/bottomBanner" class="text-dark">Change</a></td>
        </tr>
        <tr>
            <td><a href="/admin/dashboard/MiddleBanner" class="text-dark">Middle Banner</a></td>
            <td><a href="/admin/dashboard/MiddleBanner/add" class="text-dark">Add</a></td>
            <td><a href="/admin/dashboard/MiddleBanner" class="text-dark">Change</a></td>
        </tr>
        <tr>
            <td><a href="/admin/dashboard/Brand" class="text-dark">Brand</a></td>
            <td><a href="/admin/dashboard/Brand/add" class="text-dark">Add</a></td>
            <td><a href="/admin/dashboard/Brand" class="text-dark">Change</a></td>
        </tr>
        <tr>
            <td><a href="/admin/dashboard/TopBanner" class="text-dark">Top Banner</a></td>
            <td><a href="/admin/dashboard/TopBanner/add" class="text-dark">Add</a></td>
            <td><a href="/admin/dashboard/TopBanner" class="text-dark">Change</a></td>
        </tr>




    </tbody>
</table>