<!-- <p>customer-list works!</p> -->
<app-header></app-header>
<div class="bottomBanner-list">

    <a routerLink="/admin/dashboard/bottomBanner/add" class="btn btn-success mb-4">Add New Bottom Banner </a>

    <table class="table">
        <thead>
            <tr>
                <!-- <th></th> -->
                <th>Name</th>
                <th>collection Link</th>
                <!-- <th>Image</th> -->
                <th>Display Order</th>
                <th>Status</th>
                <th>Link Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bottomBanner of bottomBannerList">
                <!-- <td><input type="checkbox" (change)="toggleEditable($event, customer._id)" value=customer._id /></td> -->
                <td><a routerLink="/dashboard/bottomBanner/update/{{bottomBanner._id}}" class="text-dark">{{bottomBanner.name}}</a></td>
                <td>{{bottomBanner.collection_link}}</td>
                <!-- <td>{{bottomBanner.imageName}}</td> -->
                
                <td>{{bottomBanner.display_order}}</td>
                <td>{{bottomBanner.status}}</td>
                <td>{{bottomBanner.link_type}}</td>
                <td>
                    
                    <a routerLink="/admin/dashboard/bottomBanner/update/{{bottomBanner._id}}" class="btn btn-primary">Edit</a>

                </td>
                <td>
                    <button (click)="onDeleteClick(bottomBanner._id)" type="button" class="btn btn-danger">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>
</div>
