<!-- <p>customer-list works!</p> -->
<app-header></app-header>
<div class="middleBanner-list">

    <a routerLink="/admin/dashboard/TopBanner/add" class="btn btn-success mb-4">Add New Top Banner </a>

    <table class="table">
        <thead>
            <tr>
                <!-- <th></th> -->
                <th>Name</th>
                <th>product_link</th>
                <!-- <th>Image</th> -->
                <th>Display Order</th>
                <th>Status</th>
                <th>link_type</th>
                <th>product_rating</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let middleBanner of topbannerList">
                <td><a routerLink="/dashboard/TopBanner/update/{{middleBanner._id}}" class="text-dark">{{middleBanner.name}}</a></td>
                <td>{{middleBanner.product_link}}</td>
                <!-- <td>{{middleBanner.image}}</td> -->
                <td>{{middleBanner.display_order}}</td>
                <td>{{middleBanner.status}}</td>
                <td>{{middleBanner.link_type}}</td>
                <td>{{middleBanner.product_rating}}</td>
                <td>
                    <a routerLink="/admin/dashboard/TopBanner/update/{{middleBanner._id}}" class="btn btn-primary">Edit</a>

                </td>
                <td>
                    <button (click)="onDeleteClick(middleBanner._id)" type="button" class="btn btn-danger">Delete</button>
                </td>

            </tr>

        </tbody>
    </table>
</div>
