<app-header></app-header>
<table class="table">
    <thead>
        <tr>
            <th colspan="3" style="background: cadetblue">Order Details</th>
        </tr>
    </thead>

    <tr>
        <td>Order ID</td>
        <td> : </td>
        <td>
            {{customer?.order_id}}
        </td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td> : </td>
        <td>
            {{customer?.customer_name}}
        </td>
    </tr>
    <tr>
        <td>Customer ID</td>
        <td> : </td>
        <td>
            {{customer?.customer_id}}
        </td>
    </tr>
</table>